<p id="notice"><%= notice %></p>

<h1>Listing Invites</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Account</th>
      <th>Project ids</th>
      <th>Role ids</th>
      <th>Sender</th>
      <th>Receiver</th>
      <th>Token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invites.each do |invite| %>
      <tr>
        <td><%= invite.email %></td>
        <td><%= invite.account_id %></td>
        <td><%= invite.project_ids %></td>
        <td><%= invite.role_ids %></td>
        <td><%= invite.sender_id %></td>
        <td><%= invite.receiver_id %></td>
        <td><%= invite.token %></td>
        <td><%= link_to 'Show', invite %></td>
        <td><%= link_to 'Edit', edit_invite_path(invite) %></td>
        <td><%= link_to 'Destroy', invite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invite', new_invite_path %>
