<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @invite.email %>
</p>

<p>
  <strong>Account:</strong>
  <%= @invite.account_id %>
</p>

<p>
  <strong>Project ids:</strong>
  <%= @invite.project_ids %>
</p>

<p>
  <strong>Role ids:</strong>
  <%= @invite.role_ids %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @invite.sender_id %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @invite.receiver_id %>
</p>

<p>
  <strong>Token:</strong>
  <%= @invite.token %>
</p>

<%= link_to 'Edit', edit_invite_path(@invite) %> |
<%= link_to 'Back', invites_path %>
