<%= form_for(@membership) do |f| %>
  <% if @membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
      <% @membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    Which user:<br><%= f.collection_select(:user_id, User.all, :id, :email, { :label => "User" } ) %>
  </div>


  <div class="field">
    Add user to a project:<br><%= f.collection_select(:project_id, Project.all, :id, :name, { :label => "Project" } ) %>
  </div>

  <div class="field">
    Assign a new role:<br><%= f.collection_select(:role_id, Role.all, :id, :name, { :label => "Role" } ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
