<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @membership.project.name if @membership.project.present? %>
</p>

<p>
  <strong>User:</strong>
  <%= @membership.user.email if @membership.user.present? %>
</p>

<p>
  <strong>Role:</strong>
  <%= @membership.role.name if @membership.role.present? %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
