<h1>This is your main homepage</h1>
<br>

<h2>Your main account is: <%= link_to "#{current_user.account.subdomain}", subdomain_root_url %>
<p><%= link_to "Invite a New Admin Member to this Account", new_memberinvite_path %></p>

<% if current_user.accessible_accounts.present? %>
<h2>My Accounts</h2>
  <table>
    <thead>
      <tr>
        <th>Here are the accounts you can manage</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% current_user.accessible_accounts.each do |account| %>
        <tr>
          <td><%= account.subdomain %></td>
          <td><%= link_to 'Show', "http://#{account.subdomain}.lvh.me:3000/" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>

<br>
<h2>My Projects</h2>
  <table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <% if current_user.accessible_projects.include?(project) || current_user.account == (project.account) || current_user.accessible_accounts.include?(project.account) %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.account.subdomain %></td>
        <td><%= link_to 'Show', "http://#{project.account.subdomain}.lvh.me:3000#{project_path(project)}" %></td>
        <td><%= link_to 'Edit', "http://#{project.account.subdomain}.lvh.me:3000#{project_path(project)}/edit"  %></td>
        <td><%= link_to 'Destroy', "http://#{project.account.subdomain}.lvh.me:3000#{project_path(project)}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Project', "http://#{current_user.account.subdomain}.lvh.me:3000#{new_project_path}" %>




